@font-face
  font-family: "AppFontSansSerif"
  font-style: normal
  font-weight: normal
  src: url("../fonts/Maven Pro Regular.otf")

@font-face
  font-family: "AppFontSansSerif"
  font-style: normal
  font-weight: 500
  src: url("../fonts/Maven Pro Medium.otf")

@font-face
  font-family: "AppFontSansSerif"
  font-style: normal
  font-weight: bold
  src: url("../fonts/Maven Pro Bold.otf")

@font-face
  font-family: "AppFontSansSerif"
  font-style: normal
  font-weight: 900
  src: url("../fonts/Maven Pro Black.otf")
