:root
  /* n-fuse CI colors */

  // CI blue
  --brand-accent-blue: #233067

  // Accent color shades
  --nf-accent-gold-dark: #00646e
  --nf-accent-gold-light: #41aaaa
  --nf-accent-blue-dark: #005f87
  --nf-accent-blue-light: #50bed7
  --nf-accent-yellow-dark: #eb780a
  --nf-accent-yellow-light: #ffb900
  --nf-accent-red-dark: #641946
  --nf-accent-red-light: #af235f
  --nf-accent-green-dark: #647d2d
  --nf-accent-green-light: #aab414

  // Sand colors
  --nf-stone-darker: #1b1f21
  --nf-stone-dark: #3c464b
  --nf-stone-light: #879baa
  --nf-stone-light-35: #becdd7
  --nf-sand-dark: #73645a
  --nf-sand-light: #aaaa96
  --nf-sand-light-35: #d7d7cd

  /* Theme terms */
  --brand-accent-darker: #7F6716
  --brand-accent-dark: #BF9B21 /* n-fuse Accent gold shade */
  --brand-accent: #ddb326 /* n-fuse Accent gold shade */
  --brand-accent-light: #E5BA27 /* n-fuse Accent gold shade */
  --brand-accent-lighter: #FFCF2C /* n-fuse Accent gold shade */

  --font-family-theme: AppFontSansSerif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

  /* Semantic Brand Colors
  --brand-primary: #428bca
  --brand-success: #5cb85c
  --brand-info: #5bc0de
  --brand-warning: #f0ad4e
  --brand-danger: var(--nf-accent-red-dark)

  --success-dark-color: var(--nf-accent-green-dark)
  --success-medium-color: var(--nf-accent-green-light)
  --success-light-color: #f0f08c

  --info-dark-color: var(--nf-accent-blue-dark)
  --info-medium-color: var(--nf-accent-blue-light)
  --info-light-color: #c8f5ff

  --warning-dark-color: var(--nf-accent-yellow-dark)
  --warning-medium-color: var(--nf-accent-yellow-light)
  --warning-light-color: #fff09b

  --error-dark-color: var(--nf-accent-red-dark)
  --error-medium-color: var(--nf-accent-red-light)
  --error-light-color: #f5c8dc

  --danger-dark-color: var(--nf-accent-red-dark)
  --danger-medium-color: var(--nf-accent-red-light)
  --danger-light-color: #f5c8dc
 */
  /* Grays made of n-fuse Stone
  --gray-dark-5: #2d373c
  --gray-dark-4: #3c464b
  --gray-dark-3: #555f69
  --gray-dark-2: #697882
  --gray-dark-1: #788791
  --gray: #9bafbe
  --gray-light-1: #9bafbe
  --gray-light-2: #adbecb
  --gray-light-3: #becdd7
  --gray-light-4: #cdd9e1
  --gray-light-5: #dfe6ed
  --gray-light-6: #ebf0f5
*/

