:root 
  /* Global or important stuff */
  --nf-layout-viewport-gutter: 1.4rem

  /* Typography */
  --typography-link-color: var(--brand-accent-dark)
  --typography-link-hover-color: var(--brand-accent-darker)

  /* App header */

  /* App and content area */
  --app-area-max-width: 1280px
  --app-viewport-bg-color: var(--gray-dark-3)
  --app-area-bg-color: var(--white)
  --content-area-primary-bg-color: transparent

  /* App footer */
  --app-footer-bg-color: transparent

  /* Toolbar */

  /* Busy indicator */
  --busy-indicator-circular-image-url: url("/vcl/vclBusyIndicatorCircular.svg")

  /* Button */

  /* Container */

  /* Popover */

  /* Layer */

  /* Dropdown */

  /* Calendar */

  /* Tab nav */

  /* Navigation */

  /* Input */

